.container {
    // background-color: pink;
    width: 220px;
    height: fit-content;
    margin: 8px;
    border-radius: 7px;
    padding: 14px;
    border: 1px solid rgba(0, 0, 0, 0.137); 
}
.parent {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 20px;
}
.icon-display {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    // background-color: aqua;
    height: 40px;
    // visibility: hidden;
}
.icon-display {
    visibility: hidden;
  }
  .container:hover .icon-display {
    visibility: visible;
  }
  .container .pin {
    visibility: hidden;
  }
  .container :hover .pin {
    visibility: visible;
  }