<div class="parent">
    <div [style.background-color]="note.color" class="container" *ngFor="let note of childArray | searchfilter : searchValue ">
        <div style="display:flex ; flex-flow:row wrap; justify-content: space-between;" (click)="updateNote(note)">
            <div>
                {{note.title}}
            </div>
            <div class="pin">
                <img width="24px" height="24px" src="../../../assets/Icons/pin.svg" alt="">
            </div>

        </div>
        
        <div (click)="updateNote(note)">
            {{note.description}}
        </div>
        <div class="icon-display">
            <div style="width: 240px;">
                <app-icon [noteObject]="note" (messageEvent)="recieveMessageFromTrash($event)"></app-icon>
            </div>

        </div>

    </div>

</div>