   .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

   }
.parent {
    // background-color: aqua;
    width: 550px;
    height: fit-content;
    padding: 10px 20px 10px 20px;
    border-radius: 12px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302),0 2px 6px 2px rgba(60,64,67,0.149);
    box-shadow: 0cqmaxp;
    font-weight: 100;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
.icon-button {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.no-border {
    background-color: rgba(255, 255, 255, 0) ;
    margin-bottom: 20px ;
    width: 100%;
    outline: none;
    border: none;
    font-size: 16px;
}
.take-note {

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}
.note-icon img {
    margin-left: 24px;
}
