<div class="container">
    <div class="parent">

        <div class="take" *ngIf="!show || show">
            <div *ngIf="!show" (click)="showHide()" class="take-note">
                <span style="font-size: larger; font-weight: 400;">Take a note...</span>
                <div class="note-icon">
                    <img width="24px" height="24px" src="../../../assets/Icons/tickbox.svg" alt="">
                    <img width="24px" height="24px" src="../../../assets/Icons/brush.svg" alt="">
                    <img width="24px" height="24px" src="../../../assets/Icons/img.svg" alt="">

                </div>

            </div>
            <div *ngIf="show">
                <div style="display: flex; flex-flow: row wrap; justify-content: space-between;">
                    <input class="no-border" style="width: 80%;" [(ngModel)]="title" type="text" placeholder="Title">
                    <div class="pin">
                        <img width="24px" height="24px" src="../../../assets/Icons/pin.svg" alt="">
                    </div>
                </div>

            </div>


        </div>

        <div *ngIf="show">

            <div>

                <input class="no-border" [(ngModel)]="description" placeholder="Take a note">

            </div>
            <div class="icon-button">

                <div style="width: 60%;">
                    <app-icon></app-icon>
                </div>
                <div>
                    <button style="border: none; font-size: 16px; padding: 10px; background: none;" (click)="addNote()">close</button>
                </div>

            </div>

        </div>


    </div>
</div>