   .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

   }
.parent {
    // background-color: aqua;
    width: 600px;
    height: fit-content;
    border: 1px solid rgba(0,0,0,.2);
    padding: 10px 20px 10px 20px;
    // padding: 0px 10px 0px 0px;
    border-radius: 12px;
    // box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    box-shadow: 0cqmaxp;
    font-weight: 100;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
.icon-button {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
// ::ng-deep .mat-form-field-appearance-outline.mat-form-field-disabled ,
// ::ng-deep .mat-form-field-outline
//  {
//     opacity: 0;
//   }

// ::ng-deep .mat-form-field-underline
// {
// display: none;
// }
.no-border {
    background-color: rgba(255, 255, 255, 0) ;
    margin-bottom: 10px ;
    width: 100%;
    outline: none;
    border: none;
}
.take-note {

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}
.note-icon img {
    margin-left: 20px;
}
