<div class="mat-icon" *ngIf="!isDeleted">

    <div class="img">

        <!-- <button> <img width="16px" height="16px" src="../../../assets/Icons/reminder.svg" alt=""></button> -->

        <img mat-button [matMenuTriggerFor]="menu" width="16px" height="16px" src="../../../assets/Icons/reminder.svg"
            alt="">

        <mat-menu #menu="matMenu">
            <div style="width: 20vw;">
                <div style="padding: 20px;">
                    <div *ngFor=" let list of dateAndTime"  style="display: flex; flex-flow: column; gap: 10px;">

                        <div>remainder :</div>
                        <div (click)="remainder()" class="space">
                            <span>Later today</span>
                            <span>{{list.laterToday}}</span>
                        </div>
                        <div (click)="remainder()" class="space">
                            <span>Tomorrow</span>
                            <span>{{list.Tomorrow}}</span>
                        </div>
                        <div (click)="remainder()" class="space">
                            <span>Next week </span>
                            <span>{{list.nextWeek}}</span>
                        </div>

                        <mat-form-field appearance="fill">
                            <mat-label>Verbose datepicker</mat-label>
                            <input matInput [matDatepicker]="dp" [formControl]="date">
                            <mat-hint>MMMM DD, YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
                            <mat-datepicker #dp></mat-datepicker>
                          </mat-form-field>
    
                        <!-- <div class="space">
                            <span><img width="16px" height="16px" src="../../../assets/Icons/time.svg" alt=""> <span>Set date and time</span></span>
                        </div>
                        
                        <div class="space">
                            <span><img width="16px" height="16px" src="../../../assets/Icons/date.svg" alt=""> <span>Location</span></span>
                        </div> -->
                    </div>

                </div>

            </div>

        </mat-menu>

        <!-- <mat-menu  >
            <mat-form-field appearance="fill">
                <mat-label>Verbose datepicker</mat-label>
                <input matInput [matDatepicker]="dp" [formControl]="date">
                <mat-hint>MMMM DD, YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
              </mat-form-field>

        </mat-menu> -->


    </div>

    <div class="img">

        <span> <img width="16px" height="16px" src="../../../assets/Icons/person.svg"></span>

    </div>




    <div class="palete">
        <div class="img">
            <img [matMenuTriggerFor]="menu1" width="16px" height="16px" src="../../../assets/Icons/pellete.svg" alt=" ">
            <mat-menu #menu1="matMenu">
                <div class="box">
                    <div *ngFor="let color of colors" class="color-button">
                        <button mat-mini-fab [style.background]="color?.code"
                            (click)="colorPalete(color.code)"></button>
                    </div>
                </div>

            </mat-menu>

        </div>
    </div>




    <div class="img">

        <span> <img width="16px" height="16px" src="../../../assets/Icons/img.svg"></span>

    </div>

    <div class="img" *ngIf="!isArchived" (click)="archieve()">

        <span> <img width="16px" height="16px" src="../../../assets/Icons/systemupdate.svg"></span>

    </div>

    <div class="img" *ngIf="isArchived" (click)="unArchieve()">

        <span> <img width="16px" height="16px" src="../../../assets/Icons/unarchive.svg"></span>

    </div>

    <div class="img">

        <img mat-button [matMenuTriggerFor]="menu" width="16px" height="16px" src="../../../assets/Icons/threedot.svg"
            alt="">

        <mat-menu #menu="matMenu">

            <button mat-menu-item>Delete</button>

            <button mat-menu-item>Add label</button>

            <button mat-menu-item>Add drawing</button>

            <button mat-menu-item>make a copy</button>

        </mat-menu>

    </div>

</div>

<div class="img" *ngIf="isDeleted">
    <span> <img width="16px" height="16px" src="../../../assets/Icons/DeleteForever.svg"></span>

    <span> <img (click)=restoreNote() width="16px" height="16px" src="../../../assets/Icons/Delete.svg"></span>


</div>







<!-- karishmask.15999@gmail.com -->