<div class="mat-icon" *ngIf="!isDeleted">

    <div class="img">

        <!-- <button> <img width="16px" height="16px" src="../../../assets/Icons/reminder.svg" alt=""></button> -->

        <img [matMenuTriggerFor]="animals" width="16px" height="16px" src="../../../assets/Icons/reminder.svg" alt="">
        <mat-menu #animals="matMenu">
            <button mat-menu-item>Remainder :</button>
            <button mat-menu-item>Later today</button>
            <button mat-menu-item>Tomorrow</button>
            <button mat-menu-item>Next week</button>
            <!-- <button mat-menu-item [matMenuTriggerFor]="date">select date and time</button> -->
            <button mat-menu-item [matMenuTriggerFor]="date">select date and time</button>
        </mat-menu>

        <mat-menu #date="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="time">Fishes</button>
           
          </mat-menu>

    </div>

    <div class="img">

        <span> <img width="16px" height="16px" src="../../../assets/Icons/person.svg"></span>

    </div>




    <div class="palete">
        <div class="img">
            <img [matMenuTriggerFor]="menu1" width="16px" height="16px" src="../../../assets/Icons/pellete.svg" alt=" ">
            <mat-menu #menu1="matMenu">
                <div class="box">
                    <div *ngFor="let color of colors" class="color-button">
                        <button mat-mini-fab [style.background]="color?.code"
                            (click)="colorPalete(color.code)"></button>
                    </div>
                </div>

            </mat-menu>

        </div>
    </div>




    <div class="img">

        <span> <img width="16px" height="16px" src="../../../assets/Icons/img.svg"></span>

    </div>

    <div class="img" *ngIf="!isArchived" (click)="archieve()">

        <span> <img width="16px" height="16px" src="../../../assets/Icons/systemupdate.svg"></span>

    </div>

    <div class="img" *ngIf="isArchived" (click)="unArchieve()">

        <span> <img width="16px" height="16px" src="../../../assets/Icons/unarchive.svg"></span>

    </div>

    <div class="img">

        <img mat-button [matMenuTriggerFor]="menu" width="16px" height="16px" src="../../../assets/Icons/threedot.svg"
            alt="">

        <mat-menu #menu="matMenu">

            <button mat-menu-item>Delete</button>

            <button mat-menu-item>Add label</button>

            <button mat-menu-item>Add drawing</button>

            <button mat-menu-item>make a copy</button>

        </mat-menu>

    </div>

</div>

<div class="img" *ngIf="isDeleted">

    <span> <img width="16px" height="16px" src="../../../assets/Icons/Delete.svg"></span>

    <span> <img width="16px" height="16px" src="../../../assets/Icons/DeleteForever.svg"></span>

</div>




<!-- <div class="mat-icon" *ngIf="!isDeleted">
    
    <div class="img">
        <img width="16px" height="16px" src="../../../assets/Icons/reminder.svg" alt=" ">
    </div>

    <div class="img" (click)="remainder()">
        <img width="16px" height="16px" src="../../../assets/Icons/person.svg" alt=" ">
    </div>
    <div class="palete">
        <div class="img">
            <img [matMenuTriggerFor]="menu1" width="16px" height="16px" src="../../../assets/Icons/pellete.svg" alt=" ">
            <mat-menu #menu1="matMenu">
                <div class="box">
                    <div *ngFor="let color of colors" class="color-button">
                        <button mat-mini-fab [style.background]="color?.code"
                            (click)="colorPalete(color.code)"></button>
                    </div>
                </div>

            </mat-menu>

        </div>
    </div>

    <div class="img">
        <img width="16px" height="16px" src="../../../assets/Icons/image.svg" alt=" ">

    </div>

    <div (click)="archieve()" class="img">
        <img width="16px" height="16px" src="../../../assets/Icons/systemupdate.svg" alt=" ">

    </div>
    <div (click)="unArchieve()">
        <img width="16px" height="16px" src="../../../assets/Icons/unarchive.svg" alt="">
    </div>



    <div class="img">
        <img [matMenuTriggerFor]="menu" width="16px" height="16px" src="../../../assets/Icons/threedot.svg" alt=" ">
        <mat-menu #menu="matMenu">

            <button mat-menu-item (click)="trashNote()"><span>Delete note</span> </button>
            <button mat-menu-item>Add label</button>
            <button mat-menu-item>Add drawing</button>
            <button mat-menu-item>Make a copy</button>
            <button mat-menu-item>Show tick boxes</button>
            <button mat-menu-item>Copy to Google Docs</button>
        </mat-menu>


    </div>


</div>




<div class="deleted" *ngIf="isDeleted">

    <span><img width="16px" height="16px" src="../../../assets/Icons/DeleteForever.svg" alt=""></span>
    <span (click)="restoreNote()">
        <img width="16px" height="16px" src="../../../assets/Icons/Delete.svg" alt="">
    </span>

</div> -->


<!-- karishmask.15999@gmail.com -->

<!-- <div *ngIf=" ; else elseBlock">Content to render when condition is true.</div>
<ng-template #elseBlock>Content to render when condition is false.</ng-template> -->