.mat-icon {
  // background-color: pink;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
}
.round-button {
  width: 20px;
  height: 20px;
  background-color: #04aa6d;
  border-radius: 50%;
  display: inline-flex;
  margin: 2px;
  // border: none;
  // // color: white;
  // // padding: 20px;
  // text-align: center;
  // text-decoration: none;
  // display: inline-block;
  // font-size: 16px;
  // // margin: 4px 2px;
  // border-radius: 100%;
}
// .img {
//   visibility: hidden;
// }
// :hover .img {
//   visibility: visible;
// }
