<div class="mat-icon">
    <div class="img">
        <img width="16px" height="16px" src="../../../assets/Icons/Notification.svg" alt=" ">
    </div>

    <div class="img">
        <img width="16px" height="16px" src="../../../assets/Icons/person.svg" alt=" ">
    </div>
    <div (click)="colorPalete()" class="palete">
        <div class="img">
            <img [matMenuTriggerFor]="menu1" width="16px" height="16px"
                    src="../../../assets/Icons/pellete.svg" alt=" ">
            <mat-menu #menu1="matMenu">
                <button mat-menu-item class="round-button"></button>
                <button mat-menu-item class="round-button"></button>
                <button mat-menu-item class="round-button"></button>
                <button mat-menu-item class="round-button"></button>
                <button mat-menu-item class="round-button"></button>
            </mat-menu>
            <!-- <img width="16px" height="16px" src="../../../assets/Icons/pellete.svg" alt=" "> -->

        </div>
    </div>

    <div class="img">
        <img width="16px" height="16px" src="../../../assets/Icons/image.svg" alt=" ">

    </div>

    <div (click)="archieve()" class="img">
        <img width="16px" height="16px" src="../../../assets/Icons/systemupdate.svg" alt=" ">

    </div>

    <div class="img">
       <img [matMenuTriggerFor]="menu" width="16px" height="16px"
                src="../../../assets/Icons/threedot.svg" alt=" ">
        <mat-menu #menu="matMenu">
            
            <button mat-menu-item (click)="trashNote()"><span>Delete note</span> </button>
            <button mat-menu-item>Add label</button>
            <button mat-menu-item>Add drawing</button>
            <button mat-menu-item>Make a copy</button>
            <button mat-menu-item>Show tick boxes</button>
            <button mat-menu-item>Copy to Google Docs</button>
        </mat-menu>
        <!-- <img width="16px" height="16px" src="../../../assets/Icons/threedot.svg" alt=" "> -->

    </div>


</div>