.parent-container {
    // background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child-container {
   border: solid 1px gray;
    width: 32%;
    height: 84%;
    border-radius: 12px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}
.container {
    // background-color: yellow;
    width: 80%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;

}
.image {

     display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 40px;
}
.headline {
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
.mat-display-4 {
    font-size: 24px;
    margin-top: 2px;
}
   
.mat-display-2 {
    margin-top: 14px;
}
.form {
    width: 100%;
}
.email{
     width: 100%;
    margin-top: 30px;
     display: flex;
    flex-flow: column wrap;
    justify-content: space-between;

}
.danger {
    color: red;
}
.forgot{
    color: blue ;
}
// .email mat-form-field {
//     width: 100%;
//   }


.bottom {
     width: 100%;
    display: flex;
    margin-top: 30px;
}
.next {
    margin-left: auto;
}

@media screen and (min-width: 375px) {
    .sub-container-2 {
      display: none;
    }
    .container {
      border: none;
      // background-color: aqua;
      height: fit-content;
      width: fit-content;
  
      display: flex;
      flex-flow: row wrap;
      padding: 20px;
      margin-bottom: 20px;
    }
    .parent-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      border: none;
    }
    .child-container {
      // background-color: pink;
      height: fit-content;
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column wrap;
      border: none;
      // margin: 5px 0px 0px 20px;
    }
    .sub-container-1 {
      // width: 60%;
      // background-color: blue;
      height: fit-content;
      width: fit-content;
      display: flex;
      flex-flow: column wrap;
    }
  .email-password{
      // background-color: aqua;
      display: flex;
      flex-flow: column wrap;
      // justify-content: space-between;
  }
    .mat-display-2 {
      width: 60%;
      font-size: 16px;
      font-weight: 300;
      text-align: center;
      margin-bottom: 200px;
    }
    .mat-display-4 {
      margin-top: 6px;
  
      font-size: 12px;
    }
    .mat-display-3 {
      margin-top: 6px;
    }
    .bottom {
      width: 100%;
      // background-color:  grey;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
    .img-header {
      // background-color: blue;
      display: flex;
      align-items: center;
      width: 100%;
      margin: 0;
      padding: 0;
    }
    
    .headline {
      // background-color: gray;
      height: 100px ;
    
      text-align: center;
    }
  }




