<div class="parent-container">
    <div class="child-container">
        <div class="container">
            <div class="img-header">
                <div class="image">
                    <img width="80" height="40" src="https://www.vectorlogo.zone/logos/google/google-ar21.svg" alt="">
                </div>
                <div class="headline">
                    <div class="mat-display-4">Find your email</div>
                    <div class="mat-display-2">Enter your phone number or recovery email</div>
                </div>

            </div>
            <form class="form" [formGroup]="forgotPassword" (ngSubmit)="forgot()">
                <div class="email">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input formControlName="email" matInput>
                        <mat-hint class="danger" *ngIf="forgotPassword.get('email')!.touched && forgotPassword.get('email')!.errors?.['required']">
                            Email is required
                        </mat-hint>
                    </mat-form-field>
                    <!-- <div class="forgot">Forgot email?</div> -->
                </div>
                <div class="bottom">
                    <button class="next" mat-raised-button color="primary">Next</button>
    
                </div>

            </form>
           

        </div>
    </div>
</div>