.parent-container{
    // background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: white;
    border: solid 1px gray;
    width: 32%;
    height: 84%;
    border-radius: 12px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.child-container{
    width: 80%;
    display: flex;
    flex-flow: column wrap;
}

.img-header {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 40px;
}

.headline {
    width: 100%;
    
    text-align: center;
}
.mat-display-4 {
    font-size: 24px;
    margin-top: 2px;
}
   
.mat-display-2 {
    margin-top: 14px;
}
.email-password {
    margin-top: 30px;
     display: flex;
    flex-flow: column wrap;
    justify-content: space-between ;


}
.danger {
    color: red;
}
.forgot {
// margin-top:auto ;    
position: relative;
bottom: 16px;
}
.forgot h2{
    color: blue ;
    font-size: 12px;
    font-weight: 300;
}
.bottom-header{
    margin-top: 30px;
}
.mat-display-1{
     color: blue ;

}

.bottom {
    // background-color: pink;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between ;
    margin-top : 20px;
   
}
.bottom h2 {
    color: blue;
    font-size: 12px;
    font-weight: 300;
}