.parent-container {
  width: 100vw;
  height: 100vh;
  // width: 56vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  // background-color: aqua;
  width: 56%;
  height: 80%;
  display: flex;
  flex-flow: row wrap;
  border: solid 1px gray;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
}
.child-container {
  // background-color: pink;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  margin: 5px 0px 0px 20px;
}
.sub-container-1 {
  width: 60%;
  // background-color: pink;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}
.sub-container-2 {
  display: flex;
  flex-flow: row wrap;
  width: 40%;
  height: 100%;
  background-color: white;
  justify-content: center;
  align-items: center;
}
.sub-container-2 img {
  margin: 100px 0px 0px 0px;
}
.mat-display-2 {
  width: 60%;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 200px;
}
.danger {
  color: red;
}
.image {
  margin-top: 10px;
  
}

.mat-display-4 {
  margin-top: 6px;
  
  font-size: 24px;
}
.mat-display-3 {
  margin-top: 14px;
}
.name {
  display: flex;
  flex-direction: row;
  // gap: 10px;
  justify-content: space-between;
  margin-top: 15px;
}
.name mat-form-field {
  justify-content: space-evenly;
}
.email {
  // background-color: blue;
  width: 100%;
}
.email mat-form-field {
  width: 100%;
}
.password {
  margin-top: 20px;
}
.password-hint {
  margin: 0px 0px 40px 0px;

}
.password-box {
  display: flex;
  flex-direction: row;
  // gap: 10px;
  justify-content: space-between;
}
.checkbox {
  
  // background-color: aqua;
  position: relative;
  
  bottom: 20px;
}
.email mat-hint {
  width: 100%;
}
.bottom {
  width: 100%;
  // background-color:  grey;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.bottom h2 {

  color: blue;
  font-size: 12px;
  font-weight: 300;
  font-weight: 500;
}

@media screen and (max-width: 375px)  {
  .sub-container-2 {
    display: none;
  }
  .container {
    border: none;
    // background-color: aqua;
    height: fit-content;
    width: fit-content;
  
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    margin-bottom: 20px;
  }
  .parent-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  .child-container {
    // background-color: pink;
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
    // margin: 5px 0px 0px 20px;
  }
  .sub-container-1 {
    // width: 60%;
    // background-color: blue;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-flow: column wrap;
  }
  .name {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }
  .password-box {
    display: flex;
    flex-direction: column;
  }
  .mat-display-2 {
    width: 60%;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 200px;
  }
  .mat-display-4 {
    margin-top: 6px;
    
    font-size: 12px;
  }
  .mat-display-3 {
    margin-top: 6px;
  }
  .bottom {
    width: 100%;
    // background-color:  grey;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

}