<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <div class="fundoo-icon">
      <h1 class="example-app-name" class="font"><img class="nav-icon-tool" width="36px" height="36px"
          src="../../assets/Icons/keep.svg" alt=""> Fundoo</h1>
    </div>

    <mat-form-field class="search" appearance="outline">
      <mat-label class="label">Search</mat-label>
      <input (keyup)="searchNote($event)" style=" border: none; outline: none;" matInput />
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
    
    <div class="icon-right">
      <span class="icon-one">
        <img width="24px" height="24px" src="../../assets/Icons/refresh.svg" alt="">
        <img width="24px" height="24px" src="../../assets/Icons/twobox.svg" alt="">
        <img width="24px" height="24px" src="../../assets/Icons/setting.svg" alt="">
      </span>

      <span class="icon-two">
        <img width="24px" height="24px" src="../../assets/Icons/apps.svg" alt="">
        <img width="24px" height="24px" src="../../assets/Icons/account.svg" alt="">
      </span>
    </div>

  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list class="nav">
        <a mat-list-item routerLink="."><img class="nav-icon" width="24px" height="24px"
            src="../../assets/Icons/note.svg" alt=""><span class="a">Notes </span> </a>
        <a mat-list-item routerLink="/home/remainder"><img class="nav-icon" width="24px" height="24px"
            src="../../assets/Icons/reminder.svg" alt=""><span class="a">Reminder </span></a>
        <a mat-list-item routerLink="/home/editlabel"><img class="nav-icon" width="24px" height="24px"
            src="../../assets/Icons/editlabel.svg" alt=""><span class="a">Edit label </span></a>
        <a mat-list-item routerLink="/home/archieve"><img class="nav-icon" width="24px" height="24px"
            src="../../assets/Icons/systemupdate.svg" alt=""><span class="a">Archive </span></a>
        <a mat-list-item routerLink="/home/bin"><img class="nav-icon" width="24px" height="24px"
            src="../../assets/Icons/bin.svg" alt=""><span class="a">Bin </span></a>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div>
        <!-- child will appear here    -->
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>